.landing {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing .div {
  background-color: #ffffff;
  height: 11108px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.landing .overlap {
  height: 20400px;
  left: -2644px;
  position: absolute;
  top: -3804px;
  width: 25747px;
}

.landing .element {
  height: 825px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 13869px;
  width: 681px;
}

.landing .text-wrapper {
  color: #000000;
  font-family: var(--EIS-titles-font-family);
  font-size: 50px;
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 2680px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  top: 13717px;
  white-space: nowrap;
  width: 1368px;
}

.landing .p {
  color: #000000;
  font-family: var(--EIS-text-01-font-family);
  font-size: 22px;
  font-style: var(--EIS-text-01-font-style);
  font-weight: var(--EIS-text-01-font-weight);
  left: 2680px;
  letter-spacing: var(--EIS-text-01-letter-spacing);
  line-height: var(--EIS-text-01-line-height);
  position: absolute;
  top: 13838px;
  width: 1368px;
}

.landing .line {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 13814px;
  width: 1404px;
}

.landing .img {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 13948px;
  width: 1404px;
}

.landing .line-2 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 14685px;
  width: 1440px;
}

.landing .line-3 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 13669px;
  width: 1440px;
}

.landing .line-4 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 14747px;
  width: 1440px;
}

.landing .element-2 {
  height: 904px;
  left: 2924px;
  object-fit: cover;
  position: absolute;
  top: 13829px;
  width: 904px;
}

.landing .element-3 {
  height: 674px;
  left: 3480px;
  object-fit: cover;
  position: absolute;
  top: 13940px;
  width: 604px;
}

.landing .group {
  display: block;
  height: 30px;
  left: 2680px;
  position: absolute;
  top: 14702px;
  width: 442px;
}

.landing .overlap-group {
  background-color: var(--eis-grey);
  border-radius: 24px;
  height: 30px;
  position: relative;
  width: 440px;
}

.landing .text-wrapper-2 {
  color: #000000;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 1px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 439px;
}

.landing .overlap-wrapper {
  display: block;
  height: 30px;
  left: 3144px;
  position: absolute;
  top: 14702px;
  width: 442px;
}

.landing .overlap-group-wrapper {
  display: block;
  height: 30px;
  left: 3608px;
  position: absolute;
  top: 14702px;
  width: 442px;
}

.landing .group-2 {
  height: 35px;
  left: 2656px;
  position: absolute;
  top: 14249px;
  width: 1386px;
}

.landing .text-wrapper-3 {
  color: #ffffff;
  font-family: var(--EIS-subtitles-font-family);
  font-size: var(--EIS-subtitles-font-size);
  font-style: var(--EIS-subtitles-font-style);
  font-weight: var(--EIS-subtitles-font-weight);
  left: 0;
  letter-spacing: var(--EIS-subtitles-letter-spacing);
  line-height: var(--EIS-subtitles-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 440px;
}

.landing .text-wrapper-4 {
  color: #ffffff;
  font-family: var(--EIS-subtitles-font-family);
  font-size: var(--EIS-subtitles-font-size);
  font-style: var(--EIS-subtitles-font-style);
  font-weight: var(--EIS-subtitles-font-weight);
  left: 475px;
  letter-spacing: var(--EIS-subtitles-letter-spacing);
  line-height: var(--EIS-subtitles-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 440px;
}

.landing .text-wrapper-5 {
  color: #ffffff;
  font-family: var(--EIS-subtitles-font-family);
  font-size: var(--EIS-subtitles-font-size);
  font-style: var(--EIS-subtitles-font-style);
  font-weight: var(--EIS-subtitles-font-weight);
  left: 940px;
  letter-spacing: var(--EIS-subtitles-letter-spacing);
  line-height: var(--EIS-subtitles-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 440px;
}

.landing .db-bcc-a {
  height: 721px;
  left: 2680px;
  object-fit: cover;
  position: absolute;
  top: 12919px;
  width: 440px;
}

.landing .rectangle {
  background-color: #dcdcdc;
  height: 721px;
  left: 3608px;
  position: absolute;
  top: 12919px;
  width: 440px;
}

.landing .rectangle-2 {
  background-color: #493736;
  height: 721px;
  left: 3144px;
  position: absolute;
  top: 12919px;
  width: 440px;
}

.landing .WHO-WE-ARE-a-family {
  color: #000000;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 2680px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  top: 6977px;
  width: 1368px;
}

.landing .SIGNATURE-CREATIONS {
  color: #000000;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 2680px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  top: 7538px;
  width: 1368px;
}

.landing .text-wrapper-6 {
  color: #000000;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 2680px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  top: 12798px;
  white-space: nowrap;
  width: 1368px;
}

.landing .text-wrapper-7 {
  color: #000000;
  font-family: "Helvetica Neue LT Pro-55Roman", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 2680px;
  letter-spacing: -1.20px;
  line-height: 68px;
  position: absolute;
  top: 8447px;
  white-space: nowrap;
  width: 324px;
}

.landing .text-wrapper-8 {
  color: #000000;
  font-family: "Helvetica Neue LT Pro-55Roman", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 2680px;
  letter-spacing: -1.20px;
  line-height: 68px;
  position: absolute;
  top: 9529px;
  white-space: nowrap;
  width: 324px;
}

.landing .text-wrapper-9 {
  color: #000000;
  font-family: "Helvetica Neue LT Pro-55Roman", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 2680px;
  letter-spacing: -1.20px;
  line-height: 68px;
  position: absolute;
  top: 10609px;
  white-space: nowrap;
  width: 324px;
}

.landing .text-wrapper-10 {
  color: #000000;
  font-family: "Helvetica Neue LT Pro-55Roman", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 2680px;
  letter-spacing: -1.20px;
  line-height: 68px;
  position: absolute;
  top: 11691px;
  white-space: nowrap;
  width: 324px;
}

.landing .text-wrapper-11 {
  color: #ffffff;
  font-family: "Helvetica Neue LT Pro-55Roman", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 2680px;
  letter-spacing: -1.20px;
  line-height: 68px;
  position: absolute;
  text-align: center;
  top: 12957px;
  white-space: nowrap;
  width: 440px;
}

.landing .text-wrapper-12 {
  color: #ffffff;
  font-family: "Helvetica Neue LT Pro-55Roman", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 3144px;
  letter-spacing: -1.20px;
  line-height: 68px;
  position: absolute;
  text-align: center;
  top: 12957px;
  white-space: nowrap;
  width: 440px;
}

.landing .text-wrapper-13 {
  color: #000000;
  font-family: "Helvetica Neue LT Pro-55Roman", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 3608px;
  letter-spacing: -1.20px;
  line-height: 68px;
  position: absolute;
  text-align: center;
  top: 12957px;
  white-space: nowrap;
  width: 440px;
}

.landing .text-wrapper-14 {
  color: #000000;
  font-family: var(--EIS-text-01-font-family);
  font-size: var(--EIS-text-01-font-size);
  font-style: var(--EIS-text-01-font-style);
  font-weight: var(--EIS-text-01-font-weight);
  left: 2680px;
  letter-spacing: var(--EIS-text-01-letter-spacing);
  line-height: var(--EIS-text-01-line-height);
  position: absolute;
  top: 7166px;
  width: 1368px;
}

.landing .text-wrapper-15 {
  color: #000000;
  font-family: var(--EIS-text-01-font-family);
  font-size: var(--EIS-text-01-font-size);
  font-style: var(--EIS-text-01-font-style);
  font-weight: var(--EIS-text-01-font-weight);
  left: 2680px;
  letter-spacing: var(--EIS-text-01-letter-spacing);
  line-height: var(--EIS-text-01-line-height);
  position: absolute;
  top: 7727px;
  width: 672px;
}

.landing .text-wrapper-16 {
  color: #000000;
  font-family: var(--EIS-text-01-font-family);
  font-size: var(--EIS-text-01-font-size);
  font-style: var(--EIS-text-01-font-style);
  font-weight: var(--EIS-text-01-font-weight);
  left: 3376px;
  letter-spacing: var(--EIS-text-01-letter-spacing);
  line-height: var(--EIS-text-01-line-height);
  position: absolute;
  top: 9096px;
  width: 672px;
}

.landing .BIRMINGHAM-st-EIS {
  color: #ffffff;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 2690px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  top: 13525px;
  width: 307px;
}

.landing .LONDON-st-EIS-cafe {
  color: #ffffff;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 3154px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  top: 13525px;
  width: 260px;
}

.landing .DUBAI-st-EIS-cafe {
  color: #000000;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 3618px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  top: 13525px;
  width: 440px;
}

.landing .element-4 {
  color: #ffffff;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 2922px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  top: 13525px;
  width: 208px;
}

.landing .element-5 {
  color: #ffffff;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 3386px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  top: 13525px;
  width: 208px;
}

.landing .element-6 {
  color: #000000;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 3850px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  top: 13525px;
  width: 208px;
}

.landing .text-wrapper-17 {
  color: #000000;
  font-family: var(--EIS-text-01-font-family);
  font-size: var(--EIS-text-01-font-size);
  font-style: var(--EIS-text-01-font-style);
  font-weight: var(--EIS-text-01-font-weight);
  left: 2680px;
  letter-spacing: var(--EIS-text-01-letter-spacing);
  line-height: var(--EIS-text-01-line-height);
  position: absolute;
  top: 9643px;
  width: 672px;
}

.landing .text-wrapper-18 {
  color: #000000;
  font-family: var(--EIS-text-01-font-family);
  font-size: var(--EIS-text-01-font-size);
  font-style: var(--EIS-text-01-font-style);
  font-weight: var(--EIS-text-01-font-weight);
  left: 3376px;
  letter-spacing: var(--EIS-text-01-letter-spacing);
  line-height: var(--EIS-text-01-line-height);
  position: absolute;
  top: 10703px;
  width: 672px;
}

.landing .text-wrapper-19 {
  color: #000000;
  font-family: var(--EIS-text-01-font-family);
  font-size: var(--EIS-text-01-font-size);
  font-style: var(--EIS-text-01-font-style);
  font-weight: var(--EIS-text-01-font-weight);
  left: 2680px;
  letter-spacing: var(--EIS-text-01-letter-spacing);
  line-height: var(--EIS-text-01-line-height);
  position: absolute;
  top: 11793px;
  width: 672px;
}

.landing .IMG {
  height: 549px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 12201px;
  width: 720px;
}

.landing .element-7 {
  height: 720px;
  left: 3364px;
  object-fit: cover;
  position: absolute;
  top: 11770px;
  width: 720px;
}

.landing .IMG-2 {
  height: 720px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 10688px;
  width: 707px;
}

.landing .IMG-3 {
  height: 552px;
  left: 3351px;
  position: absolute;
  top: 11116px;
  width: 733px;
}

.landing .IMG-4 {
  height: 695px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 4994px;
  width: 708px;
}

.landing .IMG-5 {
  height: 539px;
  left: 3352px;
  object-fit: cover;
  position: absolute;
  top: 8526px;
  width: 372px;
}

.landing .IMG-6 {
  height: 539px;
  left: 3724px;
  object-fit: cover;
  position: absolute;
  top: 8526px;
  width: 360px;
}

.landing .IMG-7 {
  height: 477px;
  left: 3376px;
  object-fit: cover;
  position: absolute;
  top: 10108px;
  width: 444px;
}

.landing .IMG-8 {
  height: 501px;
  left: 3376px;
  object-fit: cover;
  position: absolute;
  top: 9608px;
  width: 708px;
}

.landing .DTS-daniel-faro-on {
  height: 454px;
  left: 3364px;
  object-fit: cover;
  position: absolute;
  top: 5776px;
  width: 720px;
}

.landing .DTS-daniel-faro-on-2 {
  height: 1154px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 5776px;
  width: 720px;
}

.landing .line-5 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 6929px;
  width: 1440px;
}

.landing .line-6 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 7490px;
  width: 1440px;
}

.landing .line-7 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 4993px;
  width: 1440px;
}

.landing .bringing-bold {
  color: #000000;
  font-family: var(--EIS-text-01-font-family);
  font-size: var(--EIS-text-01-font-size);
  font-style: var(--EIS-text-01-font-style);
  font-weight: var(--EIS-text-01-font-weight);
  left: 2680px;
  letter-spacing: var(--EIS-text-01-letter-spacing);
  line-height: var(--EIS-text-01-line-height);
  position: absolute;
  top: 4915px;
  width: 1368px;
}

.landing .line-8 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 7142px;
  width: 1440px;
}

.landing .line-9 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 7703px;
  width: 1440px;
}

.landing .line-10 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 12895px;
  width: 1440px;
}

.landing .line-11 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 5688px;
  width: 1440px;
}

.landing .line-12 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 5775px;
  width: 1440px;
}

.landing .line-13 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 7276px;
  width: 1440px;
}

.landing .line-14 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 8423px;
  width: 1440px;
}

.landing .line-15 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 9505px;
  width: 1440px;
}

.landing .line-16 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 10585px;
  width: 1440px;
}

.landing .line-17 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 11667px;
  width: 1440px;
}

.landing .line-18 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 8525px;
  width: 1440px;
}

.landing .line-19 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 9607px;
  width: 1440px;
}

.landing .line-20 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 10687px;
  width: 1440px;
}

.landing .line-21 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 11769px;
  width: 1440px;
}

.landing .line-22 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 12750px;
  width: 1440px;
}

.landing .text-wrapper-20 {
  color: #000000;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 3376px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  top: 5230px;
  width: 672px;
}

.landing .line-23 {
  height: 1px;
  left: 3376px;
  object-fit: cover;
  position: absolute;
  top: 5206px;
  width: 708px;
}

.landing .line-24 {
  height: 1px;
  left: 3376px;
  object-fit: cover;
  position: absolute;
  top: 5294px;
  width: 708px;
}

.landing .rectangle-3 {
  background-color: var(--eis-grey);
  border-radius: 48px;
  height: 672px;
  left: 3376px;
  position: absolute;
  top: 7728px;
  width: 672px;
}

.landing .IMG-9 {
  height: 980px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 8526px;
  width: 708px;
}

.landing .element-8 {
  height: 1074px;
  left: 3186px;
  object-fit: cover;
  position: absolute;
  top: 7531px;
  width: 898px;
}

.landing .discover-the-menu {
  color: #ffffff;
  display: block;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 3376px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  text-align: center;
  top: 7995px;
  width: 672px;
}

.landing .div-wrapper {
  display: block;
  height: 30px;
  left: 3144px;
  position: absolute;
  top: 7369px;
  width: 442px;
}

.landing .overlap-2 {
  background-color: #000000;
  border-radius: 24px;
  height: 30px;
  position: relative;
  width: 440px;
}

.landing .text-wrapper-21 {
  color: #ffffff;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 1px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 439px;
}

.landing .group-3 {
  display: block;
  height: 30px;
  left: 2796px;
  position: absolute;
  top: 8049px;
  width: 442px;
}

.landing .text-wrapper-22 {
  color: #000000;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 3369px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  text-align: center;
  top: 5041px;
  width: 686px;
}

.landing .rectangle-4 {
  background-color: #d9d9d9;
  height: 24px;
  left: 2591px;
  position: absolute;
  top: 4892px;
  width: 24px;
}

.landing .rectangle-5 {
  background-color: #d9d9d9;
  height: 24px;
  left: 2591px;
  position: absolute;
  top: 4994px;
  width: 24px;
}

.landing .rectangle-6 {
  background-color: #d9d9d9;
  height: 24px;
  left: 2591px;
  position: absolute;
  top: 5105px;
  width: 24px;
}

.landing .rectangle-7 {
  background-color: #d9d9d9;
  height: 24px;
  left: 2591px;
  position: absolute;
  top: 5129px;
  width: 24px;
}

.landing .rectangle-8 {
  background-color: #d9d9d9;
  height: 24px;
  left: 2591px;
  position: absolute;
  top: 5153px;
  width: 24px;
}

.landing .rectangle-9 {
  background-color: #d9d9d9;
  height: 24px;
  left: 2591px;
  position: absolute;
  top: 5238px;
  width: 24px;
}

.landing .rectangle-10 {
  background-color: #d9d9d9;
  height: 24px;
  left: 2591px;
  position: absolute;
  top: 4970px;
  width: 24px;
}

.landing .IMG-10 {
  height: 805px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 4012px;
  width: 1440px;
}

.landing .line-25 {
  height: 1px;
  left: 2646px;
  object-fit: cover;
  position: absolute;
  top: 4816px;
  width: 1438px;
}

.landing .line-26 {
  height: 1px;
  left: 2646px;
  object-fit: cover;
  position: absolute;
  top: 4891px;
  width: 1438px;
}

.landing .text-wrapper-23 {
  color: #000000;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 2682px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  top: 4832px;
  width: 208px;
}

.landing .BHX-DXB-LND {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 2914px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 4832px;
  width: 98px;
}

.landing .COPYRIGHT-EIS {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 3726px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 4832px;
  width: 324px;
}

.landing .element-coventry-road {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 3030px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 4832px;
  width: 208px;
}

.landing .MON-SUN-FRIDAY {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 3378px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 4832px;
  width: 92px;
}

.landing .element-9 {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 3494px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 4832px;
  width: 92px;
}

.landing .group-4 {
  height: 467px;
  left: 2944px;
  position: absolute;
  top: 4181px;
  transform: rotate(-6.45deg);
  width: 831px;
}

.landing .overlap-3 {
  height: 647px;
  left: -49px;
  position: relative;
  top: -90px;
  width: 928px;
}

.landing .subtract {
  height: 552px;
  left: 28px;
  position: absolute;
  top: 47px;
  transform: rotate(6.45deg);
  width: 871px;
}

.landing .text-wrapper-24 {
  color: #000000;
  font-family: "Helvetica Neue LT Pro-55Roman", Helvetica;
  font-size: 100px;
  font-weight: 400;
  left: 50px;
  letter-spacing: -3.00px;
  line-height: 100px;
  position: absolute;
  text-align: center;
  top: 188px;
  width: 828px;
}

.landing .FIXED {
  height: 97px;
  left: 2644px;
  position: absolute;
  top: 3828px;
  width: 1442px;
}

.landing .overlap-4 {
  background-color: #ffffff;
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.landing .EIS-cafe {
  color: #000000;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 329px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
  width: 782px;
}

.landing .line-27 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 96px;
  width: 1440px;
}

.landing .group-5 {
  display: block;
  height: 22px;
  left: 1369px;
  position: absolute;
  top: 38px;
  width: 32px;
}

.landing .line-28 {
  height: 4px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 36px;
}

.landing .line-29 {
  height: 4px;
  left: -2px;
  position: absolute;
  top: 9px;
  width: 36px;
}

.landing .line-30 {
  height: 4px;
  left: -2px;
  position: absolute;
  top: 20px;
  width: 36px;
}

.landing .line-31 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 1440px;
}

.landing .group-6 {
  display: block;
  height: 30px;
  left: 3492px;
  position: absolute;
  top: 5468px;
  width: 442px;
}

.landing .EIS-cafe-2 {
  color: #000000;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 2973px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  text-align: center;
  top: 14838px;
  white-space: nowrap;
  width: 782px;
}

.landing .line-32 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 14911px;
  width: 1440px;
}

.landing .line-33 {
  height: 1px;
  left: 2644px;
  object-fit: cover;
  position: absolute;
  top: 14822px;
  width: 1440px;
}

.landing .text-wrapper-25 {
  color: #000000;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 2680px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  top: 14763px;
  width: 208px;
}

.landing .BHX-DXB-LND-2 {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 2912px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 14763px;
  width: 98px;
}

.landing .COPYRIGHT-EIS-2 {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 3724px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 14763px;
  width: 324px;
}

.landing .element-coventry-road-2 {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 3028px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 14763px;
  width: 208px;
}

.landing .MON-SUN-FRIDAY-2 {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 3376px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 14763px;
  width: 92px;
}

.landing .element-10 {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 3492px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 14763px;
  width: 92px;
}

.landing .rectangle-11 {
  border: 4px solid;
  border-color: #ff0000;
  height: 20400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25747px;
}

.landing .rectangle-12 {
  background-color: #d9d9d9;
  height: 18px;
  left: 3120px;
  position: absolute;
  top: 13430px;
  width: 25px;
}

.landing .rectangle-13 {
  height: 15px;
  left: -40210px;
  position: absolute;
  top: -34328px;
  width: 273px;
}
