.landing-menu {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-menu .div-3 {
  background-color: #ffffff;
  height: 860px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.landing-menu .FIXED-2 {
  height: 97px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 1442px;
}

.landing-menu .overlap-group-3 {
  background-color: #ffffff;
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.landing-menu .EIS-cafe-4 {
  color: #000000;
  display: block;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 68px;
font-style: normal;
font-weight: 400;
  left: 329px;
  line-height: 68px; /* 100% */
letter-spacing: -2.04px;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
  width: 782px;
}

.landing-menu .line-45 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 96px;
  width: 1440px;
}

.landing-menu .group-9 {
  display: block;
  height: 22px;
  left: 1369px;
  position: absolute;
  top: 38px;
  width: 32px;
}

.landing-menu .line-46 {
  height: 4px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 36px;
}

.landing-menu .line-47 {
  height: 4px;
  left: -2px;
  position: absolute;
  top: 9px;
  width: 36px;
}

.landing-menu .line-48 {
  height: 4px;
  left: -2px;
  position: absolute;
  top: 20px;
  width: 36px;
}

.landing-menu .line-49 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 1440px;
}

.landing-menu .line-50 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 859px;
  width: 1440px;
}

.landing-menu .line-51 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 784px;
  width: 1440px;
}

.landing-menu .text-wrapper-31 {
  color: #000000;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 20px;
font-style: normal;
font-weight: 400;
  left: 36px;
  line-height: 24px; /* 120% */
letter-spacing: -0.2px;
  position: absolute;
  top: 800px;
  width: 208px;
}

.landing-menu .BHX-DXB-LND-4 {
  color: #000000;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 14px;
font-style: normal;
font-weight: 400;
  left: 268px;
  line-height: 16px; /* 114.286% */
letter-spacing: -0.14px;
  position: absolute;
  top: 800px;
  width: 98px;
}

.landing-menu .COPYRIGHT-EIS-4 {
  color: #000000;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 14px;
font-style: normal;
font-weight: 400;
  left: 1080px;
  line-height: 16px; /* 114.286% */
letter-spacing: -0.14px;
  position: absolute;
  top: 800px;
  width: 324px;
}

.landing-menu .element-coventry-road-4 {
  color: #000000;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 14px;
font-style: normal;
font-weight: 400;
  left: 384px;
  line-height: 16px; /* 114.286% */
letter-spacing: -0.14px;
  position: absolute;
  top: 800px;
  width: 208px;
}

.landing-menu .MON-SUN-FRIDAY-4 {
  color: #000000;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 14px;
font-style: normal;
font-weight: 400;
  left: 732px;
  line-height: 16px; /* 114.286% */
letter-spacing: -0.14px;
  position: absolute;
  top: 800px;
  width: 92px;
}

.landing-menu .element-12 {
  color: #000000;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 14px;
font-style: normal;
font-weight: 400;
  left: 848px;
  line-height: 16px; /* 114.286% */
letter-spacing: -0.14px;
  position: absolute;
  top: 800px;
  width: 92px;
}

.landing-menu .line-52 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 217px;
  width: 1440px;
}

.landing-menu .line-53 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 314px;
  width: 1440px;
}

.landing-menu .line-54 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 411px;
  width: 1440px;
}

.landing-menu .line-55 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 508px;
  width: 1440px;
}

.landing-menu .line-56 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 605px;
  width: 1440px;
}

.landing-menu .text-wrapper-32 {
  color: #000000;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 68px;
font-style: normal;
font-weight: 400;
  left: 36px;
  line-height: 68px; /* 100% */
letter-spacing: -2.04px;
  position: absolute;
  top: 145px;
  white-space: nowrap;
  width: 650px;
}

.landing-menu .text-wrapper-33 {
  color: #000000;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 68px;
font-style: normal;
font-weight: 400;
  left: 36px;
  line-height: 68px; /* 100% */
letter-spacing: -2.04px;
  position: absolute;
  top: 242px;
  white-space: nowrap;
  width: 650px;
}

.landing-menu .text-wrapper-34 {
  color: #000000;
  display: block;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  left: 36px;
  line-height: 68px; /* 100% */
letter-spacing: -2.04px;
  position: absolute;
  top: 338px;
  white-space: nowrap;
  width: 650px;
}

.landing-menu .text-wrapper-35 {
  color: #000000;
  display: block;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 68px;
font-style: normal;
font-weight: 400;
  left: 36px;
  line-height: 68px; /* 100% */
letter-spacing: -2.04px;
  position: absolute;
  top: 435px;
  white-space: nowrap;
  width: 650px;
}

.landing-menu .text-wrapper-36 {
  color: #000000;
  display: block;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  font-size: 68px;
font-style: normal;
font-weight: 400;
  left: 36px;
  line-height: 68px; /* 100% */
letter-spacing: -2.04px;
  position: absolute;
  top: 532px;
  white-space: nowrap;
  width: 650px;
}
