.MENU {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.MENU .div-2 {
  background-color: #ffffff;
  height: 860px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.MENU .overlap-5 {
  height: 97px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 1442px;
}

.MENU .line-34 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 96px;
  width: 1440px;
}

.MENU .group-7 {
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}

.MENU .overlap-group-2 {
  background-color: #ffffff;
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.MENU .EIS-cafe-3 {
  color: #000000;
  display: block;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 329px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
  width: 782px;
}

.MENU .group-8 {
  display: block;
  height: 22px;
  left: 1369px;
  position: absolute;
  top: 38px;
  width: 32px;
}

.MENU .line-35 {
  height: 4px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 36px;
}

.MENU .line-36 {
  height: 4px;
  left: -2px;
  position: absolute;
  top: 9px;
  width: 36px;
}

.MENU .line-37 {
  height: 4px;
  left: -2px;
  position: absolute;
  top: 20px;
  width: 36px;
}

.MENU .line-38 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 1440px;
}

.MENU .line-39 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 241px;
  width: 1440px;
}

.MENU .text-wrapper-26 {
  color: #000000;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 377px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  text-align: center;
  top: 156px;
  white-space: nowrap;
  width: 686px;
}

.MENU .text-wrapper-27 {
  color: #000000;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 36px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  top: 277px;
  white-space: nowrap;
  width: 650px;
}

.MENU .text-wrapper-28 {
  color: #000000;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 36px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  top: 399px;
  white-space: nowrap;
  width: 650px;
}

.MENU .text-wrapper-29 {
  color: #000000;
  font-family: var(--EIS-titles-font-family);
  font-size: var(--EIS-titles-font-size);
  font-style: var(--EIS-titles-font-style);
  font-weight: var(--EIS-titles-font-weight);
  left: 36px;
  letter-spacing: var(--EIS-titles-letter-spacing);
  line-height: var(--EIS-titles-line-height);
  position: absolute;
  top: 521px;
  white-space: nowrap;
  width: 650px;
}

.MENU .line-40 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 1440px;
}

.MENU .line-41 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 485px;
  width: 1440px;
}

.MENU .line-42 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 607px;
  width: 1440px;
}

.MENU .line-43 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 859px;
  width: 1440px;
}

.MENU .line-44 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 784px;
  width: 1440px;
}

.MENU .text-wrapper-30 {
  color: #000000;
  font-family: var(--EIS-text-02-font-family);
  font-size: var(--EIS-text-02-font-size);
  font-style: var(--EIS-text-02-font-style);
  font-weight: var(--EIS-text-02-font-weight);
  left: 36px;
  letter-spacing: var(--EIS-text-02-letter-spacing);
  line-height: var(--EIS-text-02-line-height);
  position: absolute;
  top: 800px;
  width: 208px;
}

.MENU .BHX-DXB-LND-3 {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 268px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 800px;
  width: 98px;
}

.MENU .COPYRIGHT-EIS-3 {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 1080px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 800px;
  width: 324px;
}

.MENU .element-coventry-road-3 {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 384px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 800px;
  width: 208px;
}

.MENU .MON-SUN-FRIDAY-3 {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 732px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 800px;
  width: 92px;
}

.MENU .element-11 {
  color: #000000;
  font-family: var(--EIS-text-03-font-family);
  font-size: var(--EIS-text-03-font-size);
  font-style: var(--EIS-text-03-font-style);
  font-weight: var(--EIS-text-03-font-weight);
  left: 848px;
  letter-spacing: var(--EIS-text-03-letter-spacing);
  line-height: var(--EIS-text-03-line-height);
  position: absolute;
  top: 800px;
  width: 92px;
}
