:root {
  --eis-grey: rgba(245, 245, 245, 1);
  --EIS-subtitles-font-family: "Helvetica Neue LT Pro", Helvetica;
  --EIS-subtitles-font-size: 40px;
  --EIS-subtitles-font-style: normal;
  --EIS-subtitles-font-weight: 400;
  --EIS-subtitles-letter-spacing: -1.2px;
  --EIS-subtitles-line-height: 44px;
  --EIS-text-01-font-family: "Helvetica Neue LT Pro", Helvetica;
  --EIS-text-01-font-size: 30px;
  --EIS-text-01-font-style: normal;
  --EIS-text-01-font-weight: 400;
  --EIS-text-01-letter-spacing: -0.3px;
  --EIS-text-01-line-height: 32px;
  --EIS-text-02-font-family: "Helvetica Neue LT Pro", Helvetica;
  --EIS-text-02-font-size: 20px;
  --EIS-text-02-font-style: normal;
  --EIS-text-02-font-weight: 400;
  --EIS-text-02-letter-spacing: -0.2px;
  --EIS-text-02-line-height: 24px;
  --EIS-text-03-font-family: "Helvetica Neue LT Pro", Helvetica;
  --EIS-text-03-font-size: 14px;
  --EIS-text-03-font-style: normal;
  --EIS-text-03-font-weight: 400;
  --EIS-text-03-letter-spacing: -0.14px;
  --EIS-text-03-line-height: 16px;
  --EIS-titles-font-family: "Helvetica Neue LT Pro", Helvetica;
  --EIS-titles-font-size: 68px;
  --EIS-titles-font-style: normal;
  --EIS-titles-font-weight: 400;
  --EIS-titles-letter-spacing: -2.04px;
  --EIS-titles-line-height: 68px;
  --mobile-subt-01-font-family: "Helvetica Neue LT Pro", Helvetica;
  --mobile-subt-01-font-size: 24px;
  --mobile-subt-01-font-style: normal;
  --mobile-subt-01-font-weight: 400;
  --mobile-subt-01-letter-spacing: -0.24px;
  --mobile-subt-01-line-height: 24px;
  --mobile-text-01-font-family: "Helvetica Neue LT Pro", Helvetica;
  --mobile-text-01-font-size: 14px;
  --mobile-text-01-font-style: normal;
  --mobile-text-01-font-weight: 400;
  --mobile-text-01-letter-spacing: -0.14px;
  --mobile-text-01-line-height: 14px;
  --mobile-text-02-font-family: "Helvetica Neue LT Pro", Helvetica;
  --mobile-text-02-font-size: 10px;
  --mobile-text-02-font-style: normal;
  --mobile-text-02-font-weight: 400;
  --mobile-text-02-letter-spacing: -0.1px;
  --mobile-text-02-line-height: 10px;
  --mobile-titles-font-family: "Helvetica Neue LT Pro", Helvetica;
  --mobile-titles-font-size: 48px;
  --mobile-titles-font-style: normal;
  --mobile-titles-font-weight: 400;
  --mobile-titles-letter-spacing: -1.44px;
  --mobile-titles-line-height: 48px;
  --variable-collection-EIS-beige: rgba(218, 181, 129, 1);
  --variable-collection-EIS-brown: rgba(73, 55, 54, 1);
  --variable-collection-EIS-grey-02: rgba(220, 220, 220, 1);
}
